body{
    font-family: sans-serif;
}
.container{
    position: relative;
}


*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}

ul{
    list-style-type: none;  
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;    
    cursor: pointer;
}


#main{
    max-width: 1050px;
    margin: 2% auto;
}

.section{
    margin-left: 255px;
}

.section.main{    
    width: 725px;
    height: 480px;
}

.section-element{
    position: relative;
}

.search-bar{
    width: 240px;
    height: 32px;
    background-color: #666666;
    padding: 5px 4px;
    position: absolute;
    left: 0px;
}


.search-bar form{
    width:500px;
    margin:0 auto;
}

.search-bar input[type='text']{
    width: 176px;
    font-style: italic;
}

.search-bar input[type='submit']{
    position:relative; 
    left:-5px;	
    cursor: pointer;
    width: 56px;
    height: 20px;
    color: white;
    border: none;
    background-color: #d83c3c;
    font-size: 10.5px;
}


nav{    
    width: 240px;
    height: 575px;    
    background-color: #666666;
    color: #c5c3c3;       
}

.nav-label{
    display: block;
    padding: 25px 10px 10px 10px;
    text-align: center;   
    font-size: 19.5px;    
    font-weight: 600;
    color: white;
}

.nav-element{
    position: absolute;
    left: 0px; 
    top: 35px;
}

.inline *{
    display: inline;
}

nav ul li a{
    color: #c5c3c3;
    text-decoration: none;
    display: block;
    padding: 8px 0 8px 16px;
    text-align: center;
}

nav ul li {
    text-align: center;
    border-bottom: 1px solid #a0a0a0;
}

nav ul li:last-child {
    border-bottom: none;
}


.active {
    background-color: white;
    color: #d83c3c;
    border-right: 5px solid #d83c3c;
}

li a:hover {
    background-color: white;
    color: #d83c3c;
}

.page-name, .page-heading{
    color: #13a0f8;
    text-transform:uppercase;
    font-weight: 700;
    letter-spacing: -1px;
}

.tab-name{
    color: #d83c3c;
    font-weight: 700;
}

.separater{
    color: #c5c3c3;
}

.section.page-info{
    padding: 5px 0px;
}

.section.main{
    position: relative;
    top: 45px;
}

/* Dashboard > Campaigns */
.section .page-heading{
    position: relative;
    text-transform: capitalize;
    display: inline;
    bottom: 10px;
}

.page-controls{
    display: inline;
    position: relative;
    margin-left: 455px;
    bottom: 10px;
}

.page-controls a{
    color: #666666;
    font-weight: 600;
}
/* Horizontal Navigation */
.section-navigation{
    clear: both;
}

.section-navigation ul{
    margin: 0;
    padding: 8px 0px;
    background-color: #d83c3c;
    color: #EAE4E4;
    overflow: hidden;
}

.section-navigation ul li{    
    float: left;
    width: 120px;
}

.section-navigation ul li a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    padding: 5px 0px;
    letter-spacing: -1px;
}


/* Data View Listing , Campaign listing*/

.data-listing .row{
    background-color: #b4b4b4;
    border-bottom: 1px solid #959595;
}

.data-listing .row:last-child{
    border-bottom: none;
}

.data-listing .row{
    background-color: #b4b4b4;
    border-bottom: 1px solid #959595;
}

.data-listing .row .column{    
    width: 117px;    
    display: inline-block;    
    text-align: center;
    padding: 15px 0px;
    padding-left: 4px;
    font-size: 14px;
}

.loading{
    text-align: center;
    position: relative;
    top: 120px;
}

