
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin:0;
     padding: 0;
}


body{
    font-family: sans-serif;
}
.container{
    position: relative;
}

ul{
    list-style-type: none;  
}

a{
    text-decoration: none;    
    cursor: pointer;
}


#main{
    max-width: 980px;
    margin: 0 auto;
    margin-top: 20px;
}

.clearfix:after, .clearfix:before{
    content: " ";
    display: table;
    clear: both;
}

.left-panel{
    float: left;
    width:240px;
}

.section{
    margin-left: 255px;
}

.section.main{    
    width: 725px;
    height: 480px;
}

.section-element{
    position: relative;
}

.search-bar{   
    height: 32px;
    background-color: #666666;
    padding: 5px 4px;
    margin-bottom: 2px;    
}


.search-bar form{
    width: 100%;
    margin:0;
}

.search-bar input[type='text']{
    width: 175px;
    font-style: italic;
    float: left;
    background: #eeeeee;
    height: 20px;
    border: 0;
    line-height: 20px;
    padding: 0 4px;
    font-size: 11px;
}

.search-bar input[type='submit']{
    position:relative;     
    cursor: pointer;
    width: 56px;
    height: 20px;
    color: white;
    border: none;
    background-color: #d83c3c;
    font-size: 10px;
    float: right;
}


nav{    
    width: 240px;
    height: 575px;    
    background-color: #666666;
    color: #c5c3c3;       
}

.nav-label{
    display: block;
    padding: 25px 10px 10px 10px;
    text-align: center;   
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.nav-label span{
    font-size: 15px;
}

.nav-element{
    position: absolute;
    left: 0px; 
    top: 35px;
}

.inline *{
    display: inline;
}

nav ul li a{
    color: #c5c3c3;
    text-decoration: none;
    display: block;
    padding: 8px 0 8px 16px;
    text-align: center;
}

nav ul li {
    text-align: center;
    border-bottom: 1px solid #a0a0a0;
}

nav ul li:last-child {
    border-bottom: none;
}

nav li a:hover, nav li a.active {
    background-color: white;
    color: #d83c3c;
    border-right: 5px solid #d83c3c;
}

.page-name, .page-heading{
    color: #13a0f8;
    text-transform:uppercase;
    font-weight: 700;
}

.page-name::after{
    content: "  >";
    color: #c5c3c3;
}

.tab-name{
    color: #d83c3c;
    font-weight: 700;
}

.section.page-info{
    padding: 5px 0px;
    display: inline-block;
    margin-left: 15px;
}

.section.main{
    position: relative;
    top: 45px;
}

/* Dashboard > Campaigns */
.section .page-heading{
    position: relative;
    text-transform: capitalize;
    display: inline;
    bottom: 10px;
}

.page-controls{
    display: inline;
    position: relative;
    margin-left: 440px;
    bottom: 10px;
}

.page-controls a{
    color: #666666;
    font-weight: 600;
}
/* Horizontal Navigation */
.section-navigation{
    clear: both;
}

.section-navigation ul{
    margin: 0;
    padding: 8px 0px;
    background-color: #d83c3c;
    color: #EAE4E4;
    overflow: hidden;
}

.section-navigation ul li{    
    float: left;
    width: 120px;
}

.section-navigation ul li a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    padding: 5px 0px;
    letter-spacing: -1px;
}


/* Data View Listing , Campaign listing*/

.data-listing .row{
    background-color: #b4b4b4;
    border-bottom: 1px solid #959595;
}

.data-listing .row:last-child{
    border-bottom: none;
}

.data-listing .row{
    background-color: #b4b4b4;
    border-bottom: 1px solid #959595;
}

.data-listing .row .column{    
    width: 117px;    
    display: inline-block;    
    text-align: center;
    padding: 15px 0px;
    padding-left: 4px;
    font-size: 14px;
}

.loading{
    text-align: center;
    position: relative;
    top: 120px;
}

