<div class='section main'>
  <div class='page-heading'>
    Recent Campaigns
  </div>
  <div class='page-controls'>
    <span><a href="#">Update</a></span> | <span><a href='#'>Show All</a></span>
  </div>
  <div class='section-navigation'>
    <ul class='inline'>
      <li><a>Name</a></li>
      <li><a>Date Created</a></li>
      <li><a>Last Updated</a></li>
      <li><a>Total Views</a></li>
      <li><a>Sales</a></li>
      <li><a>End Date</a></li>
    </ul>
  </div>
  <div class='data-listing'>
    
  </div>
</div>