<div class='section main'>
  <div class='page-heading'>
    Recent Campaigns
  </div>
  <div class='page-controls'>
    <span><a ng-click="update_page();">Update</a></span> | <span><a href='#'>Show All</a></span>
  </div>
  <div class='section-navigation'>
    <ul class='inline'>
      <li><a>Name</a></li>
      <li><a>Date Created</a></li>
      <li><a>Last Updated</a></li>
      <li><a>Total Views</a></li>
      <li><a>Sales</a></li>
      <li><a>End Date</a></li>
    </ul>
  </div>
  <div class='data-listing'>
    <div class='row' ng-repeat="campaign in campaign_data" ng-hide='loading'>
      <span class='column'>{{campaign.name}}</span>
      <span class='column'>{{campaign.created}}</span>
      <span class='column'>{{campaign.updated}}</span>
      <span class='column'>{{campaign.total_views}}</span>
      <span class='column'>{{campaign.sales}}</span>
      <span class='column'>{{campaign.end_date}}</span>
    </div>
    <div ng-show='loading'>
        Loading....
    </div>
  </div>
</div>